* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    line-height: 1.6;
    background-image: url("./Fotos-proyecto/Fondo.png");
    background-size: cover;
    background-position: center center;
    height: 1600px;
    background-attachment: fixed;
}
/*logo principal*/
.logo-principal {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    margin-right: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navegación */
.navbar {
    background: linear-gradient(135deg, #64d1ff 0%, #fdc5d3 100%);
    color: white;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.3s;
}

.nav-links a:hover {
    opacity: 0.8;
}

/* Sección Hero */
.hero {
    padding: 20px 20px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Sección Introducción */
.intro {
    max-width: 800px;
    margin: 10px auto;
    background: #fffdfde1;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/*Productos Estrella*/
.carousel-container {
border-radius: 15px;
position: relative;
box-shadow: 0 8px 25px rgba(0,0,0,0.25);
}


.carousel-track {
display: flex;
transition: transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
}


.carousel-track img {
width: 600px !important;
height: 350px !important;
object-fit: cover;
flex-shrink: 0;
display: block;
}


/* Botones más bonitos */
.btn.inside {
position: absolute;
top: 50%;
transform: translateY(-50%);
background: rgba(255,255,255,0.6);
color: #000;
border: none;
padding: 10px 15px;
cursor: pointer;
font-size: 20px;
border-radius: 50%;
backdrop-filter: blur(4px);
transition: 0.3s;
}
.btn.inside:hover {
background: rgba(255,255,255,0.9);
transform: translateY(-50%) scale(1.1);
}
.prev { left: 15px; }
.next { right: 15px; }


/* Indicadores */
.indicators {
display: flex;
justify-content: center;
margin-top: 12px;
gap: 8px;
}
.indicators span {
width: 12px;
height: 12px;
background: #bbb;
border-radius: 50%;
display: inline-block;
cursor: pointer;
transition: 0.3s;
}
.indicators .active {
background: #333;
transform: scale(1.2);
}
.indicators span:hover {
background: #777;
}

/*Audio*/
audio {
    display: block;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin: auto;
}

/*Inicio-Productos*/
.productos {
    padding: 20px 20px;
    color: rgb(58, 56, 58);
    text-shadow: 2px 2px 4px #a6e4c3;

}

.productos-intro {
    background: rgba(255, 255, 255, 0.493);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    gap: 20px;
    margin-top: 40px;
}

.texto {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.producto-card {
    background: white;
    border-radius: 10px;
    box-shadow: inset 1px 2px 20px rgba(233, 107, 130, 0.822);
    padding: 20px;
    text-align: center;
    transition: ease 0.3s;
}

.producto-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.producto-card h3 {
    margin-top: 15px;
    color: #f8d3a0;
    font-family: cursive;
    text-shadow: #222221 1px 1px 2px;
}

.producto-card p {
    color: #333;
    margin-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.zoom:hover {
    transform: scale(1.08);
}


/*Recetas*/
h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fa7b92;
    text-shadow: #bb8989 2px 2px 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fa7b92;
    text-shadow: #ffffff 2px 2px 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.recetas {
    padding: 80px 20px;
    color: rgb(58, 56, 58);
    text-shadow: 2px 2px 4px #a9dac0;
}

.recetas-intro {
    background: rgba(255, 255, 255, 0.493);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    color: #272727;
}

.recetas h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #fa7b92;
    text-shadow: #ffffff 2px 2px 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.recetas-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.receta-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    border-radius: 10px;
    box-shadow: inset 1px 2px 20px rgba(233, 107, 130, 0.822);
    padding: 20px;
    text-align: center;
    transition: ease 0.3s;
}

.receta-card img {
    width: 90%;
    height: auto;
    border-radius: 10px;
    text-align: right;
    margin-top: 20px;
}

.receta-card h3 {
    margin-top: 15px;
    color: #f8d3a0;
    font-family: cursive;
    text-shadow: #222221 1px 1px 2px;
}

.receta-card p {
    color: #333;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.receta-detalles {
    text-align: left;
    margin-top: 15px;
    padding: 30px;
}

/*Tabla de sabores*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #b43232;
    padding: 8px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

th {
    background: repeating-radial-gradient(circle, #971f35, #fa7b92 10px, #ffffff 10px, #ffffff 20px);
    color: #fbd6a3;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: #000000 2px 2px 2px;
}

td {
    background-color: #ffffff;
    color: #333;
}

/*Tips de reposteria*/
.accordion {
    width: 50%;
    background-color: #ce9ac6a1;
    color: #000000;
    padding: 12px 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    text-align: left;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 3px;
    margin: 0;
    transition: background-color 0.2s ease;
}

.tips-reposteria {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.accordion:hover,
.accordion.active {
    background-color: #e4667db9;
    color: white;
}

.panel {
    background-color: #ffc7c9c4;
    padding: 15px 18px;
    display: none;
    border-radius: 0 0 3px 3px;
    margin-bottom: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}


/*Introducción Eventos*/
.eventos-container {
    background: rgba(255, 255, 255, 0.493);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.text {
    color: #333;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

/*Galería de videos*/
.video-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    justify-items: center;
}

video {
    border-radius: 10px;
    box-shadow: 0 4px 15px rgb(14, 205, 253);
    width: 320px;
    height: 240px;
}

.video-gallery video {
    width: 80%;
    height: auto;
    aspect-ratio: 4 / 3;
}

.inframe {
    border-radius: 10px;
    box-shadow: 0 4px 15px rgb(14, 205, 253);
    width: 80%;
    height: auto;
    aspect-ratio: 4 / 3;
}

/*Contacto*/
.contacto-conteiner {
    border-radius: 20px;
    color: rgb(58, 56, 58);
    text-shadow: 2px 2px 4px #a9dac0;
    background: rgba(255, 255, 255, 0.493);
    margin-top: 20px;
    color: rgb(58, 56, 58);
    text-shadow: 2px 2px 4px #a6e4c3;
}

.lista-contacto {
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.6;
}

.h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #fa7b92;
    text-shadow: #ffffff 2px 2px 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul ul {
    margin-left: 5rem;
}

/*Formulario de contacto*/
form {
    max-width: 600px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: #e27285;
    text-shadow: #a39295 1px 1px 2px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}

/*Ubicación*/
.ubicacion iframe {
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin: 20px auto;
    display: block;
    border-radius: 40px;
}

/* Footer */
footer {
    background: linear-gradient(135deg, #64d1ff 0%, #fdc5d3 100%);
    color: white;
    text-align: center;
    padding: 2rem;

}

/* Responsivo */
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1.1rem;
    }

    .nav-links {
        gap: 1rem;
        font-size: 0.9rem;
    }

    .contacto-content {
        grid-template-columns: 1fr;
    }

    .productos-grid {
        grid-template-columns: 1fr;
    }
}